:root{
    --progress-bar-color: rgb(83, 206, 126);
    --btn-primary-color: rgb(83, 206, 126);
    --btn-primary-color-hover: rgb(68, 174, 105);
}

html, body{
    height: 100%;
}

main{
    height:80%
}

main{
    overflow: hidden;
}

#map-container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map{
    /*height: 89%;
        If we want some search bar there we will
        have to reduce the height.
    */
    min-height: 200px;
    min-width: 200px;
    height:100%;
}

#loader{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.centered-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-close{
    float: right;
}

#card-text-power-p{
    display: inline;
}

#card-text-price{
    text-decoration: underline;
}

.progress-bar{
    background-color: var(--progress-bar-color);
}

.card-button-grp{
    margin-bottom: 4px;
}

.card-button-grp .btn-primary{
    background-color: var(--btn-primary-color);
}

.card-button-grp .btn-primary:hover{
    background-color: var(--btn-primary-color-hover);
}

#card-button-grp-reservation{
    display:flex;
    flex-wrap: nowrap;
}

#card-button-grp-reservation *{
    flex: 48%;
}

#card-button-grp-reservation-btn-container{
    max-width: 100px;
}

#card-button-grp-reservation-btn-container .btn-secondary{
    width:100%;
}

#card-button-grp-reservation input{
    max-width: min(48%,150px) ;
}

@media screen and (max-width: 300px){
    #card-button-grp-reservation{
        flex-wrap: wrap;
    }

    #card-button-grp-reservation *{
        flex: 100%;
    }

    #card-button-grp-reservation input{
        max-width: 100px ;
    }
}

@media screen and (min-width: 768px) {
    main{
        height:85%;
        overflow: hidden;
    }
}