:root{
    /*font-size: ;*/
    --theme-secondary-color: rgb(35, 205, 41);
    
    --footer-color: rgb(242, 241, 241);


    --navbar-background-color: grey;
    --nav-item: rgb(239, 239, 239,0.8);
    --nav-item-hover: rgba(239, 239, 239);
    --nav-item-active: var(--theme-secondary-color);
    --nav-item-active-hover: rgb(116, 226, 120);
    --navbar-height-sm: 4rem;
}

body{
    box-sizing: border-box;
}

header{
    border-bottom: 1.5px solid var(--theme-secondary-color);
    overflow: hidden;
}

.header-logo{
    font-size: 2rem;
    text-decoration: none;
}

.header-btns .btn{
    margin-right: 0.5rem;
}

.navbar{
    position: fixed;
    background-color: var(--navbar-background-color);
    justify-content: flex-start;
    align-items: flex-start;
    transition: width 200ms ease;
    padding: 0;
    z-index: 2;
}

.navbar-nav{
    display:flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%;
    align-items: center;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    color: black;
    background-color: var(--nav-item);
    text-decoration: none;

    /* THIS ONE IS CAUSING SOME TROUBLE */
    justify-content: center;
}

.nav-link:hover{
    background-color: var(--nav-item-hover);
}

.active{
    background: var(--nav-item-active);
}

.nav-link-text{
    display:none;
} 

footer{
    background-color: var(--footer-color);
    margin-left: 0.25rem;
}

.footer-container{
    margin:0;
    max-width: 100%;
}

.foot{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-item{
    margin: 0;
    margin-bottom: 0.5rem;
}

.footer-link{
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .navbar{
        bottom:0;
        width:100%;
        height: var(--navbar-height-sm);
    }

    .navbar-nav{
        flex-direction: row;  
    }
    .navbar-nav, .nav-item, .nav-link{
        height:100%
    }

    .nav-link-text{
        display:inline;
        margin: 2px;
    }

    .footer-container{
        padding-bottom: var(--navbar-height-sm);
    }
}

@media screen and (min-width: 768px) {
    body{
        margin-left: 5rem !important;
    }
    
    .navbar{
        top:0;
        width: 5rem;
        height: 100%;
        left:0;
    }

    .navbar:hover{
        width: 15rem;
    }

    .navbar:hover .nav-link-text{
        display:block;
        margin-left: 1rem;
    }
}